<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.pldt.appvno">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.READ_CALL_LOG" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

  <application
      android:name=".AppVNOApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".ui.profile.PersonalDetailActivity"></activity>
    <activity android:name=".ui.otp.OtpVerificationActivity"></activity>
    <activity android:name=".ui.password.forgotPassword.ForgotPasswordActivity" />
    <activity android:name=".ui.securityQuestion.SecurityQuestionActivity" />
    <activity android:name=".ui.password.createPassword.CreatePasswordActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.register.RegisterVerificationActivity" />
    <activity
        android:name=".ui.register.RegisterActivity"
        android:windowSoftInputMode="stateVisible|adjustPan"></activity>
    <activity
        android:name=".ui.login.LoginActivity"
        android:windowSoftInputMode="stateVisible|adjustPan"></activity>
    <activity android:name=".ui.getStarted.OnBoardingActivity" />
    <activity android:name=".ui.call.SysnetCallActivity" />
    <activity android:name=".ui.call.CallDetailActivity" />

    <meta-data
        android:name="com.google.android.gms.ads.AD_MANAGER_APP"
        android:value="true" /> <!-- &lt;!&ndash; Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 &ndash;&gt; -->
    <!-- <meta-data -->
    <!-- android:name="com.google.android.gms.ads.APPLICATION_ID" -->
    <!-- android:value="ca-app-pub-3940256099942544~3347511713"/> -->
    <activity android:name=".MainActivity" />
    <activity
        android:name=".ui.contactUs.ContactUsActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".ui.helpFaqs.HelpFaqsActivity" />
    <activity android:name=".ui.credits.CreditsActivity" />
    <activity android:name=".ui.message.MessageDetailActivity" />
    <activity android:name=".ui.message.NewMessageActivity" />
    <activity android:name=".ui.profile.ProfileActivity" />
    <activity android:name=".ui.call.CallActivity" />
    <activity
        android:name=".ui.home.HomeActivity"
        android:label="@string/title_activity_home"
        android:windowSoftInputMode="adjustPan" />
    <activity android:name=".ui.termsCondition.TermsConditionActivity" />
    <activity android:name=".ui.profile.InputProfileActivity" />
    <activity android:name=".ui.otp.OtpConfirmationActivity" />
    <activity
        android:name=".ui.privacyPolicy.PrivacyPolicyActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".ui.loginRegister.LoginRegisterActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".ui.getStarted.GetStartedActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".ui.SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme" />

    <service
        android:name="com.sysnetph.sysnetsdk.Sysnet"
        android:label="@string/app_name" />
    <service
        android:name=".service.MyFirebaseInstanceIdService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
  </application>

</manifest>